@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Robboto", sans-serif;
}

.section-title {
  @apply font-bold uppercase text-primary text-lg mb-3 lg:text-xl;
}

.section-subtitle {
  @apply font-bold text-heading text-3xl max-w-sm mb-4 lg:text-4xl;
}

.section-text {
  @apply font-medium text-base text-body mb-8 lg:text-lg;
}

.little-text-section {
  @apply font-semibold text-sm mb-3 md:text-base xl:text-lg;
}

.hamburger-line {
  @apply w-[30px] h-[2px] my-2 block bg-body;
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
}

.menu-style {
  @apply cursor-pointer text-base mb-4 text-body hover:text-primary lg:mb-0 lg:mr-8;
}

.social-icon {
  @apply w-9 h-9 mr-3 rounded-full
  text-slate-400 
  flex justify-center items-center 
  border border-slate-400
  hover:border-primary
  hover:bg-primary
  hover:text-white;
}

.contact-lable-text {
  @apply font-normal text-base text-body;
}
.contact-input {
  @apply mt-2 w-full border border-primary rounded-lg py-2 px-4 focus:outline-none;
}

.button-style {
  @apply bg-primary text-base text-white py-3 px-4 mr-4 rounded-md transition duration-500
  hover:opacity-90 hover:shadow-md active:opacity-80 active:shadow-lg lg:px-8;
}
.button-outline-style {
  @apply py-[10px] px-[16px] text-base my-2 text-primary border border-primary rounded-md
  transition-all duration-500 hover:bg-primary hover:text-white
  active:opacity-80 active:shadow-lg lg:px-8;
}
